$primary: #8f3985;
$secondary: #819ea5;
$success: #a675a1;
$info: #cea2ac;
$warning: #efd9ce;
$danger: #974c26;
$light: #e3dcd9;
$dark: #25283d;

$body-color: #473b2e;
$body-bg: #e7ebe8;

/* 
#25283D
#8F3985
#A675A1
#CEA2AC
#EFD9CE
*/

@import '~bootstrap/scss/bootstrap.scss';
